*{
    margin:0;
    padding:0;
}
body{
    font-size:1em;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    /*background: #e6e6e6;*/
    background-color: white;
}
/* LAYOUTU*/

p{
    text-align: justify;
}
header{
    background: #f7b600;
    padding:15px;
    text-align: center;
}

nav{
    padding: 10px;
}
div#principal{
    width: 920px;
    margin: 0px auto;
}
section{
    width:660px;
    float:left;
}
article{
    background-color: white;
    padding:20px;
    margin-bottom:20px;
}
aside{
    width:240px;
    float: right;
    margin-top:10px;
}
.conteudo-lateral{
    background-color: white;
    padding:10px;
    margin-bottom: 20px;
}
footer{
    clear: both;
    text-align: center;
    background-color:#ccc;
    padding:15px;
}

/* FORMATAÇÃO DO MENU*/

a{
    text-decoration: none;
}
a:link, a:visited{
    color: #f7b600; 
}
a:hover{
    text-decoration: underline;
}
header a:link,header a:visited{
    color: #fff;
    padding: 8px 12px;
}
header a:hover{
    background:white;
    color:#f7b600;
    text-decoration: none;
}

/* GERAL*/

h1{
    color:#4e4e4e;
    font-size:2.5em;
}
h2{
    color: #f7b600;
}
h3{
    color: #565656;
    background-color: #ccc;
    padding: 5px;
}
.data-postagem{
    font-size: 0.8em;
    display: block;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.branco{
    color:white;
}
.texto-lateral{
    font-size: 0.7em;
    padding: 5px;
}
ul{
    list-style: none;
    color: #f7b600;
}
